doctype
html(lang='uk')
	head
		script(src='scripts/jquery.js')
		script(defer, src='styles/slick/slick.min.js')
		script(defer, src='scripts/custom.js')

		link(rel='stylesheet', href='styles/custom.css')
		link(rel='stylesheet', href='styles/slick/slick.css')
		link(rel='stylesheet', href='styles/slick/slick-theme.css')
		link(rel='icon', href='favicon.ico', type='image/x-icon')

		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

		title Banana Air
	body
		.container-fluid.screen-1
			.overlay
				.row.header-info
					.col-md-4.header-info-left
						img(src='images/np.png', alt='Нова Пошта')
						span.delivery-desc Доставка по <span class='xs-hidden'>всей</span> Украине
					.col-md-2.col-md-offset-1.header-info-center
						img(src='images/ukraine-map.png' alt='Ukraine')
					.col-md-2.col-md-offset-3.header-info-right
						span +38 (066) 881 06 22
				.row.intro
					.col-md-6.intro-text
							.row
								h1.intro-main Banana Air
								span.intro-secondary Сделай свое лето более комфортным!
					.col-md-6.intro-img
						img(src='images/yellow-sofa.png' alt='Yellow Sofa')
				.row
					.col-md-6.order-info
						.col-xs-12.price
							span 1999грн
						.col-xs-12.button
							button.order Заказать!
					.col-md-6.benefits
						ul
							li Не нужен насос
							li Компактный, прочный и легкий
							li Готов к использованию за 20 секунд
		.container-fluid.screen-2
			.row.overlay
				.row
					.col-xs-12.video-header
						h1 Банан надувается без насоса, смотри как легко:
				.row
					video.col-xs-12.col-sm-8.col-sm-offset-2(preload='preload', controls='controls')
						source(src='video/usingSofa.mp4')
						source(src='video/usingSofa.webm')
		.container-fluid.screen-3
			.row
				.slick-slider.col-xs-8.col-xs-offset-2
					img(src='images/slider/0.jpg')
					img(src='images/slider/1.jpg')
					img(src='images/slider/2.jpg')
