// <?php $f=file_get_contents(dirname($_SERVER['SCRIPT_FILENAME']).'/scripts/config.json'); settype($f, 'string'); $parsed=json_decode($f, true);?>
// <?php if(isset($_POST['name']) && isset($_POST['surname']) && isset($_POST['phone']) && isset($_POST['color'])){mail($parsed['mail'], 'Новый заказ (Lamzac)!', $_POST['surname'].' '.$_POST['name'].' (.'.$_POST['phone'].') заказал(а) Lamzac, цвет: '.$_POST['color'].'.', "Content-type: text/plain; charset=utf-8");}?>
doctype
html(lang='uk')
	head
		script(src='scripts/jquery.js')
		script(src='scripts/mask.js')
		script(defer, src='scripts/custom.js')
		script(src='styles/bootstrap/js/modal.js')
		script(defer, src='styles/slick/slick.min.js')

		link(rel='stylesheet', href='styles/custom.css')
		link(rel='stylesheet', href='styles/slick/slick.css')
		link(rel='stylesheet', href='styles/slick/slick-theme.css')
		link(rel='icon', href='favicon.ico', type='image/x-icon')

		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

		title Banana Air
	body
		.container-fluid.screen-1
			.overlay
				.row.header-info
					.col-md-4.header-info-left
						img(src='images/np.png', alt='Нова Пошта')
						span.delivery-desc Доставка по <span class='xs-hidden'>всей</span> Украине
					.col-md-2.col-md-offset-1.header-info-center
						img(src='images/ukraine-map.png' alt='Ukraine')
					.col-md-2.col-md-offset-3.header-info-right
						span +38 (066) 881 06 22
				.row.intro
					.col-md-6.intro-text
							.row
								h1.intro-main Lamzac
								span.intro-secondary Сделай свое лето более комфортным!
					.col-md-6.intro-img
						img(src='images/intro-sofa.png' alt='Yellow Sofa')
				.row
					.col-md-6.order-info
						.row
							.col-xs-12.price
								span 1999грн
							.col-xs-12.button
								button.order.goto-order Заказать!
					.col-md-6.benefits-list
						ul
							li Простой в использовании
							li Нагрузка до 200 кг
							li Не требуется насос

		.container-fluid.screen-2
			.row.overlay
				.row
					.col-xs-12.video-header
						h1 Банан надувается без насоса, смотри как легко:
				.row
					video.col-xs-12.col-sm-8.col-sm-offset-2(preload='preload', controls='controls')
						source(src='video/usingSofa.mp4')
						source(src='video/usingSofa.webm')

		.container-fluid.screen-3
			.row.gallery-nav
				.col-xs-8.col-xs-offset-2
					ul.nav.nav-pills.nav-justified
						li.gallery-img-title.active(data-index='0' role='presentation')
							a Парк
						li.gallery-img-title(data-index='1' role='presentation')
							a Пляж
						li.gallery-img-title(data-index='2' role='presentation')
							a Поход
			.row.gallery-wrapper
				.slick-slider.col-xs-8.col-xs-offset-2
					img(src='images/slider/0.jpg')
					img(src='images/slider/1.jpg')
					img(src='images/slider/2.jpg')

		.container-fluid.screen-4
			.overlay
				h1.floating-block Почему надувной Lamzac?
				.row.desc
					.hidden-xs.hidden-sm.line.line-1
					.hidden-xs.hidden-sm.line.line-2
					.hidden-xs.hidden-sm.line.line-3
					.hidden-xs.hidden-sm.line.line-4
					.col-sm-3.hidden-xs.hidden-sm.desc-text
						span.desc-text-inner.desc-text-1.floating-block
							span.desc-text-header Всесезонность.
							| Lamzac удобно использовать как в летнее время на пляже или в походе, так и зимой на снегу.
						span.desc-text-inner.desc-text-3.floating-block
							span.desc-text-header Без насоса.
							| Вам нужен только воздух и 20 секунд времени чтобы надуть диван-шезлонг, после чего Вы можете использовать Lamzac.
					.col-sm-6.col-sm-offset-3.col-md-offset-0.desc-img
						img(src='images/sofas/yellow.png').floating-block
					.col-sm-3.hidden-xs.hidden-sm.desc-text
						span.desc-text-inner.desc-text-2.floating-block
							span.desc-text-header Прочный материал.
							| Диван-шезлонг создан с ультратонкого нейлона Rip Stop, который отлично подстраивается под любую поверхность.
						span.desc-text-inner.desc-text-4.floating-block
							span.desc-text-header Практичность.
							| Шезлонг очень маленький и его легко можно взять с собой куда угодно.
					.col-xs-12.hidden-md.hidden-lg.mobile-desc-text
						span.desc-text-inner.desc-text-1
							span.desc-text-header Всесезонность.
							| Lamzac удобно использовать как в летнее время на пляже или в походе, так и зимой на снегу.
						span.desc-text-inner.desc-text-2
							span.desc-text-header Прочный материал
							| Диван-шезлонг создан с ультратонкого нейлона Rip Stop, который отлично подстраивается под любую поверхность.
						span.desc-text-inner.desc-text-3
							span.desc-text-header Без насоса.
							| Вам нужен только воздух и 20 секунд времени чтобы надуть диван-шезлонг, после чего Вы можете использовать Lamzac.
						span.desc-text-inner.desc-text-4
							span.desc-text-header Практичность.
							| Шезлонг очень маленький и его легко можно взять с собой куда угодно.

		.container-fluid.screen-5
			.row
				.col-md-6.promotion-wrapper
					h1 Закажите Lamzac сейчас
						br
						| и получите скидку 40%!
				.col-md-6.button-wrapper
					button.order.goto-order Заказать со скидкой!

		.container-fluid#order-screen
			h1 Выбери свой Lamzac
			.row
				.sofa-block
					.img-section
						img(src='images/sofas/black.png')
						.overlay
							.wrapper
								span Нет в наличии
					.tooltip-section
						.tooltip-body
							span -20%
						.tooltip-arrow
							.arrow
					.name-section
						span Black Lamzac
					.price-section
						.old-price
							span 1999грн
						.new-price
							span 1499грн
					.order-section
						button.order Купить
				.sofa-block
					.img-section
						img(src='images/sofas/blue.png')
					.tooltip-section
						.tooltip-body
							span -20%
						.tooltip-arrow
							.arrow
					.name-section
						span Blue Lamzac
					.price-section
						.old-price
							span 1999грн
						.new-price
							span 1499грн
					.order-section
						button.order Купить
				.clearfix-mobile
				.sofa-block
					.img-section
						img(src='images/sofas/green.png')
					.tooltip-section
						.tooltip-body
							span -20%
						.tooltip-arrow
							.arrow
					.name-section
						span Green Lamzac
					.price-section
						.old-price
							span 1999грн
						.new-price
							span 1499грн
					.order-section
						button.order Купить
				.sofa-block
					.img-section
						img(src='images/sofas/red.png')
					.tooltip-section
						.tooltip-body
							span -20%
						.tooltip-arrow
							.arrow
					.name-section
						span Red Lamzac
					.price-section
						.old-price
							span 1999грн
						.new-price
							span 1499грн
					.order-section
						button.order Купить
			.row
				.sofa-block
					.img-section
						img(src='images/sofas/violet.png')
					.tooltip-section
						.tooltip-body
							span -20%
						.tooltip-arrow
							.arrow
					.name-section
						span Violet Lamzac
					.price-section
						.old-price
							span 1999грн
						.new-price
							span 1499грн
					.order-section
						button.order Купить
				.sofa-block
					.img-section
						img(src='images/sofas/yellow.png')
						.overlay
							.wrapper
								span Нет в наличии
					.tooltip-section
						.tooltip-body
							span -20%
						.tooltip-arrow
							.arrow
					.name-section
						span Yellow Lamzac
					.price-section
						.old-price
							span 1999грн
						.new-price
							span 1499грн
					.order-section
						button.order Купить
			#order-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Order', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							.container-fluid
									h4 Заказажите Lamzac со скидкой!
										button.btn.btn-danger.close.pull-right(type='button', data-dismiss='modal') &times;
						.modal-body
							center
								form#form(method='post')
									table
										tr
											td Имя:
											td
												input#name(type='text', autocomplete='off', name='name')
										tr
											td Фамилия:
											td
												input#surname(type='text', autocomplete='off', name='surname')
										tr
											td Телефон:
											td
												input#phone(type='text', autocomplete='off', name='phone')
										tr
											td.left
												span Цвет:
											td.right
												select(name='color')
													option Черный
													option Розовый
													option Серый
													option Голубой
									.button-wrapper
										button#order.order Отправить заказ
									span.personal-data-policy Мы не передаем Вашу персональную информацию третьим лицам
