// <?php $f=file_get_contents(dirname($_SERVER['SCRIPT_FILENAME']).'/scripts/config.json'); settype($f, 'string'); $parsed=json_decode($f, true);?>
// <?php if(isset($_POST['name']) && isset($_POST['surname']) && isset($_POST['phone']) && isset($_POST['color'])){mail($parsed['mail'], 'Новый заказ (Banana Air)!', $_POST['surname'].' '.$_POST['name'].' (.'.$_POST['phone'].') заказал(а) Banana Air, цвет: '.$_POST['color'].'.', "Content-type: text/plain; charset=utf-8");}?>
doctype
html(lang='uk')
	head
		script(src='scripts/jquery.js')
		script(src='scripts/mask.js')
		script(defer, src='scripts/custom.js')
		script(src='styles/bootstrap/js/modal.js')
		script(defer, src='styles/slick/slick.min.js')

		link(rel='stylesheet', href='styles/custom.css')
		link(rel='stylesheet', href='styles/slick/slick.css')
		link(rel='stylesheet', href='styles/slick/slick-theme.css')
		link(rel='icon', href='favicon.ico', type='image/x-icon')

		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

		title Banana Air
	body
		.container-fluid.screen-1
			.overlay
				.row.header-info
					.col-md-4.header-info-left
						img(src='images/np.png', alt='Нова Пошта')
						span.delivery-desc Доставка по <span class='xs-hidden'>всей</span> Украине
					.col-md-2.col-md-offset-1.header-info-center
						img(src='images/ukraine-map.png' alt='Ukraine')
					.col-md-2.col-md-offset-3.header-info-right
						span +38 (066) 881 06 22
				.row.intro
					.col-md-6.intro-text
							.row
								h1.intro-main Banana Air
								span.intro-secondary Сделай свое лето более комфортным!
					.col-md-6.intro-img
						img(src='images/yellow-sofa.png' alt='Yellow Sofa')
				.row
					.col-md-6.order-info
						.col-xs-12.price
							span 1999грн
						.col-xs-12.button
							button.order.order-yellow Заказать!
					.col-md-6.benefits
						ul
							li Не нужен насос
							li Компактный, прочный и легкий
							li Готов к использованию за 20 секунд
		.container-fluid.screen-2
			.row.overlay
				.row
					.col-xs-12.video-header
						h1 Банан надувается без насоса, смотри как легко:
				.row
					video.col-xs-12.col-sm-8.col-sm-offset-2(preload='preload', controls='controls')
						source(src='video/usingSofa.mp4')
						source(src='video/usingSofa.webm')
		.container-fluid.screen-3
			.row.gallery-nav
				.col-xs-8.col-xs-offset-2
					ul.nav.nav-pills.nav-justified
						li#img_0.active(role='presentation')
							a(href='#') Парк
						li#img_1(role='presentation')
							a(href='#') Пляж
						li#img_2(role='presentation')
							a(href='#') Поход
			.row
				.slick-slider.col-xs-8.col-xs-offset-2
					img(src='images/slider/0.jpg')
					img(src='images/slider/1.jpg')
					img(src='images/slider/2.jpg')
		.container-fluid.screen-4#order-screen
			#order-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							.container-fluid
									h4 Заказажите Banana Air со скидкой!
									button.btn.btn-danger.close.pull-right(type='button', data-dismiss='modal') &times;
						.modal-body
							center
								form#form(method='post')
									table
										tr
											td Ваше имя:
											td
												input#name(type='text', autocomplete='off', name='name')
										tr
											td Ваша фамилия:
											td
												input#surname(type='text', autocomplete='off', name='surname')
										tr
											td Номер телефона:
											td
												input#phone(type='text', autocomplete='off', name='phone')
										tr
											td.left
												span Цвет:
											td.right
												select(name='color')
													option Черный
													option Розовый
													option Серый
													option Голубой
									.button-wrapper
										button#order.order.order-yellow Отправить заказ
