@import 'bootstrap/bootstrap/index.styl'
@import 'vars.styl'

@font-face
	font-family Roboto
	src url(../fonts/Roboto-Regular.ttf)
@font-face
	font-family Roboto-Medium
	src url(../fonts/Roboto-Medium.ttf)
h1
	text-align center
form
	font-size 1.5em
	margin-top 15%
	text-align center
	.btn
		margin-top 5%
	label
		display block
