@import "bootstrap/bootstrap/index.styl"
@import "vars.styl"

*
	margin 0
	padding 0

.order
	border-radius 10px
	padding 0.5em 0.8em
	outline none
	border none
	transition all 0.1s ease
	color white
	background linear-gradient(top, lightYellow, yellow)
	text-shadow 1px 1px 1px gray
	box-shadow 0 6px 0 deepDarkYellow
	margin 0 0 6px 0
	&:active
		box-shadow 0 0 0 deepDarkYellow
		margin 6px 0 0 0
	&:hover
		background linear-gradient(top, yellow, lightYellow)

html
body
	overflow-x hidden
	width 100%

.screen-1
	padding 0
	margin-bottom 2%
	.overlay
		padding 1% 2%
		width 100%
		height 100%
		.header-info
			font-size 1.25em
			color gray
			.header-info-left
				height 70px
				img
					height 100%
				.delivery-desc
					margin-left 5%
			.header-info-center
				height 70px
				text-align center
				img
					opacity 0.5
					height 100%
			.header-info-right
				height 70px
				span
					display block
					margin-top calc(35px - .75em)
					font-weight bold
		.intro
			margin-top 5%
			.row
				margin 0
			.intro-text
				padding 0
				text-align center
				font-family Roboto
				.intro-main
					font-family Roboto-Black
					text-transform capitalize
					font-size 7em
					color #000
				.intro-secondary
					margin-top 1em
					display inline-block
					font-size 3em
			.intro-img
				padding 0
				img
					width 100%
		.order-info
			text-align center
			.price
				font-size 3em
			.button
				margin-top 1em
				font-size 2em
		.benefits-list
			font-size 1.5em
			li
				list-style-type none
				background url(../images/mark.svg) no-repeat left
				padding-left 2em
				line-height 2.75em

.screen-2
	background url(../images/sofa-bg.jpg)
	background-size cover
	background-position center 20%
	padding 0
	.overlay
		margin 0
		width 100%
		background rgba(black, 0.85)
		.video-header
			margin 3% 0
			text-align center
			color brightYellow
			font-family Roboto-Bold
		video
			margin-top 2%
			margin-bottom 10%

.screen-3
	.slick-arrow:before
		color gray
	.gallery-nav
		margin 5% 0 1% 0
		.gallery-img-title
			a
				cursor pointer
				margin 0 1px
				background transparent
				border 1px solid lightG
				color gray
			&.active
				a
					background lightGray
					color white

.screen-4
	margin-top 5%
	position relative
	background url(../images/benefits-bg.jpg)
	background-size cover
	padding 0
	.overlay
		width 100%
		overflow hidden
		position relative
		background rgba(black, 0.85)
		h1
			margin 2em 0 0 0
			text-align center
			color brightYellow
			font-family Roboto-Bold
		.desc
			position relative
			height 100%
			margin 0
			.desc-img
				overflow hidden
				img
					width 80%
			.desc-text
			.mobile-desc-text
				color lightGray
				position relative
				text-align center
				.desc-text-header
					color brightYellow
					font-weight bold
					display block
			.mobile-desc-text
				.desc-text-inner
					font-size 1.5em
					display inline-block
					width 80%
					margin 5% 10%
			.desc-text
				height 100%
				.desc-text-inner
					width 90%
					position absolute
					display block
					font-size 1.25em
					&.desc-text-1
					&.desc-text-2
						top 10%
					&.desc-text-3
					&.desc-text-4
						top 65%
					&.desc-text-1
					&.desc-text-3
						padding-right 10%
						text-align right
					&.desc-text-2
					&.desc-text-4
						padding-left 10%
						text-align left
			.line
				width 22.5%
				z-index 2
				height 0
				border 1px dashed white
				&-1
					absolute top 30% left 22.5%
					transform rotateZ(30deg)
				&-2
					absolute top 30% right 22.5%
					transform rotateZ(-30deg)
				&-3
					absolute top 60% left 22.5%
					transform rotateZ(-30deg)
				&-4
					absolute top 60% right 22.5%
					transform rotateZ(30deg)

.screen-5
	padding 0
	.row
		background gray
		margin 15% 0
		.promotion-wrapper
			margin 7% 0
			h1
				text-align center
				color lightGray
				font-size 2.5em
				margin 0
		.button-wrapper
			margin 7% 0
			font-size 2em
			display inline-block
			text-align center

#order-screen
	h1
		text-align center
	.row
		.sofa-block
			border 1px solid lightGray
			padding 1em
			border-radius 5px
			float left
			.img-section
				position relative
				width 100%
				img
					width 100%
				.overlay
					display none
					width 100%
					height 100%
					background rgba(lightGray, 0.9)
					absolute left top
					.wrapper
						width 100%
						display table
						height 100%
						span
							color black
							text-align center
							display table-cell
							width 100%
							vertical-align middle
			.tooltip-section
				margin-top 1em
				.tooltip-body > span
						font-weight bold
						border-radius 3px
						color white
						background red
						padding 2px 5px
				.tooltip-arrow
					height .75em
					.arrow
						margin-left .5em
						width 0
						height 0
						border-left .75em solid transparent
						border-right .75em solid transparent
						border-top .5em solid red
			.name-section
				text-decoration underline
				font-size 1.5em
			.price-section
				font-size 1.5em
				margin-top .5em
				.old-price
					color lightGray
					text-decoration line-through
				.new-price
					color red
					font-weight bold
		.order-section
			margin-top 1em
	#order-modal
			.modal-header
				h4
					font-size 1.5em
		.modal-body
			center
				font-size 1.25em
				form table
					margin 5% 0 5% 0
					td
						padding 0.5em
						input
						select
							display inline-block
							width 100%
							padding 0.2em
				.button-wrapper
					margin-top 7%
				.personal-data-policy
					font-size 0.75em
					display inline-block
					margin 7% 0 2% 0

.screen-7
	margin-top 5%
	.work-description-title
		h1
			text-align center
	.work-description
		margin-top 5%
		text-align center
		div
			img
				width 30%
			span
				display block
				margin-top 5%
				font-size 1.25em
	.footer
		margin-top 10%
		background gray
		color white
		font-size 1.5em
		line-height 100px
		text-shadow 1px 1px 1px black
		text-align center
		.col-sm-4
			height 100px
		.payment
			img
				height 50%

@media(max-width $screen-md) // Mobile
	.clearfix-mobile
		clear both
	.screen-1
		.header-info
			.header-info-left
				text-align center
			.header-info-center
				margin 10% 0
			.header-info-right
				text-align center
		.intro
			.intro-img
				margin 15% 10% 0 10%
				width 80%
		.benefits-list
			margin 15% 0 0 10%
	.screen-4
		.desc
			.desc-img
				img
					margin 10% 10% 5% 10%
	.screen-5
		.promotion-wrapper
			h1
				text-align center
		.button-wrapper
			width 100%
			button
				text-align center
	#order-screen
		.row
			margin 0
			.sofa-block
				display inline-block
				width 40%
				margin 5%
	.screen-7
		.work-description
			div
				margin-top 10%
				img
					width 20% !important


@media(min-width $screen-md) // Desktop
	.floating-block
		padding 20px 0 0 0
		opacity 0.1
		transition all 0.5s ease
	.floating
		opacity 1
		padding 0 0 20px 0
	.screen-1
		.header-info
			.header-info-left
				text-align left
			.header-info-right
				text-align right
		.intro
			.intro-img
				margin-left -5%
	.screen-4
		.desc
			.desc-img
				img
					margin 175px 5% 200px 10%
	#order-screen
		.row
			margin 5% 0
			.sofa-block
				width 20%
				margin 0 2.4%