@import "bootstrap/bootstrap/index.styl"
@import "vars.styl"

*
	margin 0
	padding 0

.order
	border-radius 10px
	padding 0.5em 0.8em
	outline none
	border none
	transition all 0.1s ease
	&:active
		margin-top 6px
	&-yellow
		color white
		background linear-gradient(top, lightYellow, yellow)
		text-shadow 1px 1px 1px gray
		box-shadow 0 6px 0 deepDarkYellow
		&:active
			box-shadow 0 0 0 deepDarkYellow
		&:hover
			background linear-gradient(top, yellow, lightYellow)

html
body
	overflow-x hidden
	width 100%

.screen-1
	padding 0
	margin-bottom 2%
	.overlay
		padding 1% 2%
		width 100%
		height 100%
		.header-info
			font-size 1.25em
			color gray
			.header-info-left
				height 70px
				img
					height 100%
				.delivery-desc
					margin-left 5%
			.header-info-center
				height 70px
				text-align center
				img
					opacity 0.5
					height 100%
			.header-info-right
				height 70px
				span
					display block
					margin-top calc(35px - .75em)
					font-weight bold
		.intro
			margin-top 5%
			.row
				margin 0
			.intro-text
				padding 0
				text-align center
				font-family Roboto
				.intro-main
					font-family Roboto-Black
					text-transform capitalize
					font-size 7em
					color #000
				.intro-secondary
					margin-top 1em
					display inline-block
					font-size 3em
			.intro-img
				padding 0
				img
					width 100%
		.order-info
			text-align center
			.price
				font-size 3em
			.button
				margin-top 1em
				font-size 2em
		.benefits-list
			font-size 1.5em
			li
				list-style-type none
				background url(../images/mark.svg) no-repeat left
				padding-left 2em
				line-height 2.75em

.screen-2
	background url(../images/sofa-bg.jpg)
	background-size cover
	background-position center 20%
	padding 0
	.overlay
		margin 0
		width 100%
		background rgba(black, 0.85)
		.video-header
			margin 3% 0
			text-align center
			color brightYellow
			font-family Roboto-Bold
		video
			margin-top 2%
			margin-bottom 10%

.screen-3
	.slick-arrow:before
		color gray
	.gallery-nav
		margin 5% 0 1% 0
		.gallery-img-title
			a
				cursor pointer
				margin 0 1px
				background transparent
				border 1px solid lightG
				color gray
			&.active
				a
					background lightGray
					color white

.screen-4
	margin-top 5%
	position relative
	background url(../images/benefits-bg.jpg)
	background-size cover
	padding 0
	.overlay
		width 100%
		overflow hidden
		position relative
		background rgba(black, 0.85)
		h1
			margin 2em 0 0 0
			text-align center
			color brightYellow
			font-family Roboto-Bold
		.desc
			position relative
			height 100%
			margin 0
			.desc-img
				overflow hidden
				img
					width 80%
			.desc-text
			.mobile-desc-text
				color lightGray
				position relative
				text-align center
				.desc-text-header
					color brightYellow
					font-weight bold
					display block
			.mobile-desc-text
				.desc-text-inner
					font-size 1.5em
					display inline-block
					margin 10% 0 0 0
			.desc-text
				height 100%
				.desc-text-inner
					width 90%
					position absolute
					display block
					font-size 1.25em
					&.desc-text-1
					&.desc-text-2
						top 10%
					&.desc-text-3
					&.desc-text-4
						top 65%
					&.desc-text-1
					&.desc-text-3
						padding-right 10%
						text-align right
					&.desc-text-2
					&.desc-text-4
						padding-left 10%
						text-align left
			.line
				width 22.5%
				z-index 2
				height 0
				border 1px dashed white
				&-1
					absolute top 30% left 22.5%
					transform rotateZ(30deg)
				&-2
					absolute top 30% right 22.5%
					transform rotateZ(-30deg)
				&-3
					absolute top 60% left 22.5%
					transform rotateZ(-30deg)
				&-4
					absolute top 60% right 22.5%
					transform rotateZ(30deg)

#order-screen
	#order-modal
		.modal-header
			h4
				font-size 1.5em
		.modal-body
			center
				font-size 1.25em
				form table
					margin 5% 0 5% 0
					td
						padding 0.5em
						input
						select
							display inline-block
							width 100%
							padding 0.2em
				.button-wrapper
					margin-top 7%
				.personal-data-policy
					font-size 0.75em
					display inline-block
					margin 7% 0 2% 0


@media(max-width $screen-md) // Mobile
	.screen-1
		.header-info
			.header-info-left
				text-align center
			.header-info-center
				margin 10% 0
			.header-info-right
				text-align center
		.intro
			.intro-img
				margin 15% 10% 0 10%
				width 80%
		.benefits-list
			margin 15% 0 0 10%
	.screen-4
		.desc
			.desc-img
				img
					margin 10% 10% 5% 10%

@media(min-width $screen-md) // Desktop
	.floating-block
		padding 20px 0 0 0
		opacity 0.1
		transition all 0.5s ease
	.floating
		opacity 1
		padding 0 0 20px 0
	.screen-1
		.header-info
			.header-info-left
				text-align left
			.header-info-right
				text-align right
		.intro
			.intro-img
				margin-left -5%
	.screen-4
		.desc
			.desc-img
				img
					margin 175px 5% 200px 10%