yellow=#f3c501
lightYellow=lighten(yellow, 20)
darkYellow=darken(yellow, 5)
deepDarkYellow=darken(yellow, 10)


@font-face
	font-family 'Roboto'
	src url('../fonts/Roboto-Regular.ttf') format('truetype')
	font-style normal
	font-weight normal

@font-face
	font-family 'Roboto-Black'
	src url('../fonts/Roboto-Black.ttf') format('truetype')
	font-style normal
	font-weight normal
